.App {
  text-align: center;
  padding-top: 50px;
}

.App-Body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tag-list {
  display: inline-block;
  list-style: none;
}

.tag-list * {
  margin: 3px;
}

.anime-tile {
  width: 100%;
}
@media (min-width: 450px) {
  .anime-tile {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .anime-tile {
    width: 33%;
  }
}
@media (min-width: 1300px) {
  .anime-tile {
    width: 25%;
  }
}
